// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit_comment {
  display: none;
  top: 20px;
  position: relative;
}

#tag_cloud {
  a {
      color: #555;
      padding: 5pt;
      &:hover {
        color: #222;
        }
      }
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}
